@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Montserrat";
    font-weight: 100;
    src: url("/fonts/Montserrat/Montserrat-Thin.ttf") format("ttf");
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: 200;
    src: url("/fonts/Montserrat/Montserrat-ExtraLight.ttf") format("ttf");
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: 300;
    src: url("/fonts/Montserrat/Montserrat-Light.ttf") format("ttf");
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: 400;
    src: url("/fonts/Montserrat/Montserrat-Normal.ttf") format("ttf");
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: 500;
    src: url("/fonts/Montserrat/Montserrat-Medium.ttf") format("ttf");
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: 600;
    src: url("/fonts/Montserrat/Montserrat-SemiBold.ttf") format("ttf");
  }
}

@layer base {
  :root {
    --background: 0 0% 14%;
    --foreground: 0 0% 100%;
  }
  body {
    @apply overflow-x-hidden bg-background font-montserrat text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  .horizontal-scroll {
    @apply mx-auto w-full overflow-x-scroll pb-8;
    scrollbar-color: white rgba(70, 73, 109, 0.15);
    scrollbar-width: thin;
  }

  .horizontal-scroll .horizontal-scroll_item-padding.first {
    @apply ml-6 w-full;
  }

  .horizontal-scroll .horizontal-scroll_item-padding.last {
    @apply mr-6 w-full;
  }

  .layout-grid-row {
    @apply grid grid-flow-col items-center justify-start gap-5 md:gap-x-7;
  }

  .elipse {
    @apply -z-40 h-[186px] w-[186px] rounded-full bg-gradient-to-br from-[#F1B2A8] from-10% via-[#EC57A8] via-50% to-[#5B5AF7] to-90% opacity-70 blur-[30px] md:h-[700px] md:w-[700px] md:blur-[63px];
  }
  .elipse-short {
    @apply z-0 h-[150px] w-[140px] rounded-full bg-gradient-to-br from-[#F1B2A8] from-10% via-[#EC57A8] via-50% to-[#5B5AF7] to-90% blur-[35px] md:h-[270px] md:w-[270px];
  }
}
