@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Montserrat";
    font-weight: 100;
    src: url("/fonts/Montserrat/Montserrat-Thin.ttf") format("ttf");
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: 200;
    src: url("/fonts/Montserrat/Montserrat-ExtraLight.ttf") format("ttf");
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: 300;
    src: url("/fonts/Montserrat/Montserrat-Light.ttf") format("ttf");
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: 400;
    src: url("/fonts/Montserrat/Montserrat-Normal.ttf") format("ttf");
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: 500;
    src: url("/fonts/Montserrat/Montserrat-Medium.ttf") format("ttf");
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: 600;
    src: url("/fonts/Montserrat/Montserrat-SemiBold.ttf") format("ttf");
  }
}

@layer base {
  :root {
    --background: 0 0% 14%;
    --foreground: 0 0% 100%;
  }
  body {
    @apply overflow-x-hidden bg-background font-montserrat text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  .horizontal-scroll {
    @apply mx-auto w-full overflow-x-auto pb-8;
    scrollbar-color: white rgba(70, 73, 109, 0.15);
    scrollbar-width: thin;
  }

  .horizontal-scroll .horizontal-scroll_item-padding.first {
    @apply ml-6 w-full xl:ml-0;
  }

  .horizontal-scroll .horizontal-scroll_item-padding.last {
    @apply mr-6 w-full xl:mr-0;
  }

  .layout-grid-row {
    @apply grid grid-flow-col items-center justify-start gap-5 lg:gap-x-7;
  }

  .elipse {
    @apply -z-40 h-[186px] w-[186px] rounded-full bg-gradient-to-br from-[#F1B2A8] from-10% via-[#EC57A8] via-50% to-[#5B5AF7] to-90% opacity-70 blur-[30px] md:h-[400px] md:w-[400px] md:blur-[45px] lg:h-[700px] lg:w-[700px] lg:blur-[63px];
  }
  .elipse-short {
    @apply z-0 h-[150px] w-[140px] rounded-full bg-gradient-to-br from-[#F1B2A8] from-10% via-[#EC57A8] via-50% to-[#5B5AF7] to-90% blur-[35px] md:h-[200px] md:w-[200px] lg:h-[270px] lg:w-[270px];
  }

  .card {
    @apply relative flex h-full w-full flex-col items-center justify-center rounded-3xl bg-background px-4 py-5 text-center lg:px-7 lg:py-7;
  }

  .card_image {
    @apply h-[144px] w-full object-cover;
  }

  .card_title {
    @apply text-sm font-semibold lg:text-2xl;
  }

  .card_description {
    @apply text-xs lg:text-base;
  }

  .section-2-wrapper {
    @apply h-[265px] lg:h-[444px];
  }
}
